body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-button {
    padding: 20px 40px;
    font-size: 1.5em;
    cursor: pointer;
}

